page-home {
    .image-slider {
        height:auto;
        padding: 10px 0;
    }
//     ion-slide.swiper-slide-prev {
//         left: 5%;
//     }
// ion-slide.swiper-slide-next {
        
//     }
.slider-wrap{
padding: 0 10px;
}
    .slide-zoom {
        
        border-radius: 3px;
        overflow: hidden;
    }
 
    .thumb-img {
        
    }
}
